<div class="flex flex-col items-center gap-7 lg:pt-10">
  <div>
    <img src="../../assets/images/icon-complete.svg" alt="Confirm icon" />
  </div>
  <div class="w-full h-24 flex flex-col gap-3 justify-center items-center">
    <div class="text-xl font-semibold text-very-dark-violet tracking-widest">
      THANK YOU!
    </div>
    <div class="text-dark-grayish-violet font-medium tracking-wide">
      We've added yourcard details
    </div>
  </div>
  <div class="w-full">
    <button class="btn-primary" (click)="continue()">Continue</button>
  </div>
</div>
